{% extends "_base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus congue nulla, iaculis consequat dolor rhoncus sit amet. Nullam felis libero, bibendum vitae semper at, tincidunt sit amet tellus. Maecenas vestibulum, sapien quis eleifend fermentum, dolor est accumsan metus, ut congue magna est a orci. Suspendisse placerat ultricies venenatis. Integer eu velit sed elit interdum luctus quis a ante. Nulla at justo a tortor vehicula venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Curabitur sagittis pellentesque diam et sodales. Nulla aliquam congue mollis.
    </p>
{% endblock %}
