<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/_base.css") }}">
    {% block stylesheets %}{% endblock %}
<!--<link rel="icon" href="{{ url_for("static", filename="image/TC_White_LOGO.png") }}"> -->
    <script type="text/javascript" src="{{ url_for("static", filename="js/hamburger.js") }}"></script>
    {% block scripts %}{% endblock %}
</head>
<header>
    <nav>
        <a class="navbar-icon" href="{{ url_for("info._info_index") }}">
            <img src="{{ url_for("static", filename="img/icon.png") }}" alt="Icon">
        </a>
        <ul>
            <li><a href="{{ url_for("info._info_index") }}">Home</a></li>
            <li><a href="{{ url_for("info._info_about") }}">About</a></li>
            <li><a href="{{ url_for("info._info_contact") }}">Contact</a></li>
            {% if session and session["id"] %}
                <li><a href="{{ url_for("auth._auth_logout") }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for("auth._auth_login") }}">Login</a></li>
            {% endif %}
        </ul>

    </nav>
</header>
<body>
    {% block content %}{% endblock %}
</body>
</html>